@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

html {
	cursor: url("assets/images/cursor_little_pink.png")50 50, auto;
}

body {
	background: url(./assets/images/bg_home.png) no-repeat fixed center/cover;
	background-size: 200%;
	/* height: 100vh; */
	overflow: hidden;
	animation: 60s linear 1s infinite alternate glissement;
}

@keyframes glissement {
	from {
	  /* margin-left: 100%; */
	  background-size: 200%;
	}
	to {
	  /* margin-left: 0%; */
	  background-size: 400%;
	}
}

h1 {
	text-align: center;
	color: #d064ff;
	font-size: 4rem;
	text-shadow: 5px 3px 0px #a2008a;
	/* font-family: 'Bebas Neue', cursive; */
	font-family: 'Permanent Marker', cursive;
}

h2 {
	grid-area: h2;
	text-align: center;
	color: #fdd5ff;
	font-size: 3.5rem;
	text-shadow: 5px 3px 0px #e851ff;
	/* font-family: 'Bebas Neue', cursive; */
	font-family: 'Permanent Marker', cursive;
}

main {
	background: rgba(0, 0, 0, 0.701);
	color: blueviolet;
	font-size: auto;
	font-family: 'Permanent Marker', cursive;
	width: 90%;
	min-height: 600px;
	margin: 10px auto;
	padding: 40px 40px 100px 40px;
	border-radius: 30px;
	border: 2px purple outset;
	box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.253);
	text-align:center;

}

div {
	transition-duration: 0.2s;
	background: url(./assets/images/button.png) no-repeat center/cover;
	/* border-style: solid; */
	background-size: 385px 100px;
	width: 320px;
	height: 60px;
	cursor: pointer;
	margin: 10px auto;
	padding: 40px;
	text-align:center;
	color: rgb(219, 181, 255);
	font-size: 200%;
	text-shadow: 5px 3px 0px #a600b8;
	/* font-family: 'Bebas Neue', cursive; */
	font-family: 'Permanent Marker', cursive;
}

div:hover {
	background: url(./assets/images/button_hovered.png) no-repeat center;
	background-size: 365px 90px;
	width: 320px;
	height: 60px;
	cursor: url("assets/images/cursor.png") 50 50, auto;
	border: none;

	color: #ebfcd1;;

	text-shadow: 2px 3px 0px #86f803;
	font-size: 190%;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
		'h2 h2 h2'
		'bt1 bt2 bt3'
		'bt4 bt5 bt6';
}

#Bt1 {
	grid-area: bt1;
}

#Bt2 {
	grid-area: bt2;
}

#Bt3 {
	grid-area: bt3;
}

#Bt4 {
	grid-area: bt4;
}

#Bt5 {
	grid-area: bt5;
}

#Bt6 {
	grid-area: bt6;
}

@media screen and (min-width: 1700px) {
	div {
		background-size: 470px 130px;
		width: 410px;
		height: 60px;
	}
}

@media screen and (max-width: 1300px) {
	div {
		background-size: 370px 90px;
		width: 320px;
		height: 60px;
	}

	.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		'h2 h2'
		'bt1 bt2'
		'bt3 bt4'
		'bt5 bt6';
	}

	@keyframes glissement {
		from {
		  /* margin-left: 100%; */
		  background-size: 300%;
		}
		to {
		  /* margin-left: 0%; */
		  background-size: 500%;
		}
	}
}

@media screen and (max-width: 800px) {
	div {
		background-size: 340px 80px;
		width: 320px;
		height: 60px;
	}

	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		'h2'
		'bt1'
		'bt2'
		'bt3'
		'bt4'
		'bt5'
		'bt6';
	}

	@keyframes glissement {
		from {
		  /* margin-left: 100%; */
		  background-size: 500%;
		}
		to {
		  /* margin-left: 0%; */
		  background-size: 700%;
		}
	}
}

/* * {
	border: 2px red solid;
} */
